body {
   margin:0;
     background-color: #111111;
   overflow: hidden;
   transition:0.2s;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nav{
  background-color:#00000088;
  overflow: hidden;
  overflow-x:hidden;
  position:fixed;
  width:0px;
  top:0;
  left:0;
  overflow-x: hidden;
  height:1080px;
  z-index:2;
  padding-top:5px;
  transition:0.2s;
  white-space:nowrap;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.7);
}

#vid{
	z-index:0;
	border-radius: 10px;
	overflow: hidden;
  align-content: center;
  justify-content: center;
	
}

.main div.main-content-wrapper{
  display:flex;
  margin:15px;
  margin-top:180px;
  margin-left:700px;
  padding:10px;
  position:fixed;
  padding-bottom:0;
  justify-content: center;
  align-content: center;
  max-width:900px;
  z-index:1;
  background-color:#00000088;
  border-radius:10px;
  filter:drop-shadow(0 2px 5px rgba(0,0,0,0.5));
}

div.second-content-wrapper{
  display:none;
  position:fixed;
  max-width:980px;
  max-height:493px;
  z-index:1;
  color: white;
  transition:0.2s;
  margin-left:10%;
  padding:10px;
  justify-content: center;
  align-content: center;
  background-color:#00000088;
  border-radius:10px;
  filter:drop-shadow(0 2px 5px rgba(0,0,0,0.5));
}

.main {
  top:0;
  left:0;
  margin-top:0px;
  padding-left:0px;
  font-family:courier;
  font-size: 40px;
  opacity:100%;
  color:black;
  transition: 0.2s;
}

#aform {
	display:none;
	position:absolute;
	word-break: break-all;
	color:white;
	background-color:#0000008f;
	border-radius:5px;
	width:50%;
	height:450px;
	min-width:600px;
	max-width:1685px;
	min-height:450px;
  border:none;
	max-height:820px;
	transition:0.1s;
	opacity:0%;	
	z-index:2;
	margin-left:10%;	
  margin-top:20px;
	filter:drop-shadow(0 2px 5px rgba(0,0,0,1));
	white-space:normal;
	overflow-x:hidden;
}

#aform:focus{
    outline: none;
}

#aformname{
    position:absolute;
    display:none;
    word-break: break-all;
    border:none;
    color:white;;
    background-color:#0000008f;
    border-radius:5px;
    width:200px;
    height:450px;
    min-width:200px;
    max-width:300px;
    min-height:20px;
    max-height:20px;
    transition:0.1s;
    opacity:0%;	
    z-index:2;
    margin-left:10%;
    filter:drop-shadow(0 2px 5px rgba(0,0,0,1));
    white-space:normal;
    overflow-x:hidden;
}


.topnav{
  min-height:65px;
  overflow: hidden;
  display:block;
  align-content: center;
  justify-content: center;
  text-align:center;
  color:white;
  padding-bottom:3px;
  background-color:#0000005b;
  padding-left:20px;
  filter:drop-shadow(0 2px 3px rgba(0,0,0,0.5));
}

#aformname:focus{
  outline: none;
}

#closebtn{
  margin-bottom:20px;
  color:#ccc;
  width:0px;
  opacity:100%;
  font-size:60px;
  margin-left:112px;
  transition:0.1s;
  white-space:nowrap;
  outline:none;
}

#closebtn:hover{  
  color:#eeeeee;
}

#closebtn:active{
  color:#ffffff;
}

#openbtn{
  display:inline-block;
  width:45px;
  border-radius:10px;
  margin-top:10px;
  text-align:center;
  justify-content: center;
  transition:0.3s;
  color:whitesmoke;
  background-color:#212121;
  cursor:pointer;
  outline:none;
}

#openbtn span{
  transform: rotate(20deg);
}

#openbtn:hover{
  opacity:100%;
  border-radius:30px;
  background-color:white;
  color:black;
  transform:rotate(360deg);
  transform:scale(5px);
  transition:0.3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  scale:20px;
}

#openbtn:active{
  color:black;
  background-color:white;
  transition:0.1s;
}

.nav a:link {
  outline:none;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  transition: 0.1s;
  display:block;
  background-color:#000;
  font-family:"Courier New";
  color:white;
  text-decoration:0;
  font-size:20px;	
  width:80%;  
  text-align:center; 
  border-radius:5px;
  margin:2px;
  margin-left:15px;
}
.nav a:visited {
  background-color:#000;
  font-family:"Courier New";
  color:white;
  text-decoration:0;
  font-size:20px;
  position:fixed;
}

.nav a:hover {
  background-color:#cccccc;
  font-family:"Courier New";
  color:rgb(37, 37, 37);
  text-decoration:0;
  font-size:25px;	
}

#afbtn{
	display:none;
  transition:0.1s;
 	background-color: #f2f2f2;
  color: black;
		
}

#afbtn:hover{
  	background-color: #ffffff;	
}
#afbtn:active{
	background-color:#bbbbbb;
	color:#ffffff;		
}
	
.nav a:active {
  background-color:#e6e6e6;
  font-family:"Courier New";
  color:#a6a6a6;
  text-decoration:0;
  font-size:25px;
}
#ph{
  outline:none;
  margin-top:690px;
  padding-top:4px;
  text-align:center;
  font-size:18px;
  height:23px;
 
}

#ph:hover{
  font-size:20px;
  height:29px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

/* width */
::-webkit-scrollbar {
  box-shadow: 0 0 5px black;
  width: 10px;
  transition:0.1s;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  cursor:default;
}

#slideshow-container2 {
  justify-content: center;
  max-height:600px;
  max-width: 600px;
  display:none;
  border-radius:15px;
  transition:0.2s;
  position: relative;
  margin: auto;
  overflow:hidden;
  object-fit: cover;
}

#slideshow-container2 img{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
  object-fit: cover;
}

#slideshow-container {
  justify-content: center;
  max-height:600px;
  max-width: 600px;
  display:none;
  border-radius:15px;
  transition:0.2s;
  position: relative;
  margin: auto;
  overflow:hidden;
  object-fit: cover;
}

#slideshow-container img{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    overflow:hidden;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  background-color:rgba(255,255,255,0.5);
  margin-top: -22px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 150px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 150px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}